<div>
    <footer class="footer ng-footer">
        <div class="footer-container">
            <div class="footer-logo">
                <img src="../../assets/img/logo-rec-2.png" alt="Footer Logo" onclick="location.href = '';" />
            </div>
            <ul class="footer-nav">
                <li><a href="#servicios" class="ng-btn-indx">Servicios</a></li>
                <li><a href="#destinos" class="ng-btn-indx">Destinos</a></li>
                <li><a href="#nosotros" class="ng-btn-indx">Nosotros</a></li>
                <li><a href="#contacto" class="ng-btn-indx">Contacto</a></li>
            </ul>
            <div class="contact-block">
                <h3>¡No dudes en contactarnos!</h3>
                <a href="tel:999-999-9999" class="ng-contact-footer"><i class="fas fa-phone"></i> 999-999-9999</a>
                <a href="mailto:albertom@bluetrailsoft.com" class="ng-contact-footer">albertom@bluetrailsoft.com</a>
            </div>
            <div class="footer-valid">
                <img src="../../assets/img/valid-html401.png" alt="" />
                <img src="../../assets/img/valid-css2.png" alt="" />
            </div>
            <div class="newsletter">
                <div class="newsletter-text">
                    <div class="icon ng-sn">
                        <i class="fas fa-paper-plane"></i>
                    </div>
                    <p>
                        Suscríbete a nuestro Newsletter
                    </p>
                </div>
                <div class="text-input">
                    <form action="" onsubmit="event.preventDefault(); validarNewsLetter();" id="newsForm">
                        <input type="email" id="emailNewsLetter" name="emailNewsLetter" placeholder="E-mail" size="20" />
                        <input type="submit" value="Enviar" id="submitNewsLetter" disabled="true" />
                    </form>
                </div>
            </div>
            <div class="social-networks">
                <h3>Comparte nuestro contenido</h3>
                <div class="facebook">
                    <i class="fab fa-facebook ng-sn" onclick="window.open('https://www.facebook.com/','_blank')"></i>
                </div>
                <div class="twitter ng-sn" onclick="window.open('https://twitter.com','_blank')">
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="instagram ng-sn">
                    <i class="fab fa-instagram" onclick="window.open('https://www.instagram.com','_blank')"></i>
                </div>
            </div>
        </div>
    </footer>
    <div class="bottom-line">
        <p>© Alberto Mansilla - 2020</p>
        <div class="legal">
            <a href="../../assets/files/terminos.pdf" target="_blank" class="ng-btn-indx">Términos de uso</a>
        </div>
    </div>
</div>
<script type="text/javascript" src="../../assets/js/footerValidation.js"></script>