<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonus Trav</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <app-nav-bar></app-nav-bar>
    </header>
    <section class="info">
        <div class="contenedor">
            <h2 class="titulo left" style="font-size: 50px;">Sobre Nosotros</h2>
        </div>
    </section>
    <section class="nosotros-container">
        <table class="nosotros">
            <tr>
                <td><img src="../../assets/img/dylan-gillis-KdeqA3aTnBY-unsplash.jpg" alt="Empresa"></td>
                <td>
                    <h2>Historia de la Empresa</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laudantium animi vero omnis recusandae iste ea ex magnam cumque, odit totam modi sunt odio, deleniti quae quidem fuga ut mollitia ullam debitis quia? Doloremque, nisi sed libero dicta
                        quibusdam blanditiis!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam laudantium animi vero omnis recusandae iste ea ex magnam cumque, odit totam modi sunt odio, deleniti quae quidem fuga ut mollitia ullam debitis quia? Doloremque, nisi sed libero dicta
                        quibusdam blanditiis!
                    </p>
                </td>
            </tr>
        </table>
    </section>

    <hr>
    <div class="ng-ifr-cont">
        <iframe class="ng-ifr" width="560" height="315" [src]="videoUrl | domSeguro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <header class="hero hero-nosotros">
        <div class="contenedor info-nosotros">
            <h2 class="titulo left">Toma un Video Tour</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos repellat illo suscipit temporibus laboriosam perferendis? Nesciunt ducimus voluptate ad at?</p>
            <i class="far fa-play-circle ng-play" onclick="window.open('https://stackoverflow.com/admin.php','_blank')"></i>
        </div>
    </header>
    <section class="cards contenedor">
        <h2 class="titulo">Conoce al Equipo</h2>
        <div class="content-cards">
            <article class="card card-nosotros">
                <div class="seccion">
                    <img src="../../assets/img/yo.jpg" alt="card" class="tarjeta">
                    <p>
                        <i class="fab fa-facebook-square ng-article-icons" onclick="window.open('https://www.facebook.com/','_blank')"></i>
                        <i class="fab fa-twitter-square ng-article-icons" onclick="window.open('https://twitter.com','_blank')"></i>
                        <i class="fab fa-linkedin ng-article-icons" onclick="window.open('https://www.linkedin.com','_blank')"></i>
                    </p>
                </div>
                <h3>Alberto Mansilla</h3>
                <p>FULLSTACK DEV</p>
            </article>
            <article class="card card-nosotros">
                <div class="seccion">
                    <img src="../../assets/img/david-rec.png" alt="card" class="tarjeta">
                    <p>
                        <i class="fab fa-facebook-square ng-article-icons" onclick="window.open('https://www.facebook.com/','_blank')"></i>
                        <i class="fab fa-twitter-square ng-article-icons" onclick="window.open('https://twitter.com','_blank')"></i>
                        <i class="fab fa-linkedin ng-article-icons" onclick="window.open('https://www.linkedin.com','_blank')"></i>
                    </p>
                </div>
                <h3>David Romero</h3>
                <p>FULLSTACK DEV</p>
            </article>
            <article class="card card-nosotros">
                <div class="seccion">
                    <img src="../../assets/img/jeremias-rec.png" alt="card" class="tarjeta">
                    <p>
                        <i class="fab fa-facebook-square ng-article-icons" onclick="window.open('https://www.facebook.com/','_blank')"></i>
                        <i class="fab fa-twitter-square ng-article-icons" onclick="window.open('https://twitter.com','_blank')"></i>
                        <i class="fab fa-linkedin ng-article-icons" onclick="window.open('https://www.linkedin.com','_blank')"></i>
                    </p>
                </div>
                <h3>Jeremias Cardoso</h3>
                <p>FULLSTACK DEV</p>
            </article>
            <article class="card card-nosotros">
                <div class="seccion">
                    <img src="../../assets/img/mareva-rec.png" alt="card" class="tarjeta">
                    <p>
                        <i class="fab fa-facebook-square ng-article-icons" onclick="window.open('https://www.facebook.com/','_blank')"></i>
                        <i class="fab fa-twitter-square ng-article-icons" onclick="window.open('https://twitter.com','_blank')"></i>
                        <i class="fab fa-linkedin ng-article-icons" onclick="window.open('https://www.linkedin.com','_blank')"></i>
                    </p>
                </div>
                <h3>Mareva Gutierres</h3>
                <p>FULLSTACK DEV</p>
            </article>
        </div>
    </section>
    <section class="bg-grey oficinas-container">
        <div class="texto-ofi">
            <h2 class="titulo left">Visita Nuestras Oficinas</h2>
            <p class="parrafo">
                Ante cualquier consulta que considere mejor realizarla personalmente, no dude en acercarse a nuestras oficinas, donde el equipo de atención al cliente se encargará de despejar sus dudas y brindarle la mejor atención posible.
            </p>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.5270605416526!2d-58.98985641338089!3d-27.452846212298226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450cf461f7d1bd%3A0x1f77a50cefe613f8!2sPlaza%2025%20de%20Mayo!5e0!3m2!1ses!2sar!4v1594932497566!5m2!1ses!2sar"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="mapa"></iframe>
    </section>
</body>