<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bonus Trav</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <app-nav-bar></app-nav-bar>
    </header>
    <section class="info">
        <div class="contenedor">
            <h2 class="titulo left" style="font-size: 50px;">Planes de Pago</h2>
        </div>
    </section>
    <section class="pagos-container">
        <div class="texto-pagos">
            <div class="cita-titulo">
                <h2 class="titulo left" style="font-size: 50px;">¿Por Qué Elegirnos?</h2>
            </div>
            <p class="parrafo-destino">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, numquam tempore reprehenderit nihil vero quisquam ab deserunt excepturi nam delectus unde, minima cum exercitationem eius possimus dolores deleniti autem corporis, vel eaque! Facilis
                aut maiores, itaque labore placeat nesciunt accusantium dolores repudiandae corporis saepe quos quasi qui, eos provident distinctio laborum, magni rem! Repellendus cumque neque molestiae, culpa, asperiores enim veniam molestias corrupti
                fugiat dignissimos suscipit, soluta minus magnam itaque! Tempore quaerat id eius nisi corporis natus illo voluptas voluptates delectus labore veniam, explicabo, distinctio ipsa officia, nihil provident ut! Vero, facere dolorem eos aut
                veniam praesentium! Praesentium, odit cupiditate.
            </p>
            <img src="../../assets/img/rupixen-com-Q59HmzK38eQ-rec.jpg" alt="Pago">
            <p class="parrafo-destino">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, numquam tempore reprehenderit nihil vero quisquam ab deserunt excepturi nam delectus unde, minima cum exercitationem eius possimus dolores deleniti autem corporis, vel eaque! Facilis
                aut maiores, itaque labore placeat nesciunt accusantium dolores repudiandae corporis saepe quos quasi qui, eos provident distinctio laborum, magni rem! Repellendus cumque neque molestiae, culpa, asperiores enim veniam molestias corrupti
                fugiat dignissimos suscipit, soluta minus magnam itaque! Tempore quaerat id eius nisi corporis natus illo voluptas voluptates delectus labore veniam, explicabo, distinctio ipsa officia, nihil provident ut! Vero, facere dolorem eos aut
                veniam praesentium! Praesentium, odit cupiditate.
            </p>
        </div>
        <div class="deco-pagos">
            <div class="titulo-deco">
                <h2 class="titulo left" style="font-size: 50px;" id="tit-benef">Beneficios</h2>
            </div>
            <div class="credito">
                <i class="fas fa-credit-card ng-pay"></i>
                <h2>Beneficio 1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam tenetur adipisci commodi, inventore vero eaque.</p>
            </div>
            <div class="efectivo">
                <i class="fas fa-money-bill-wave ng-pay"></i>
                <h2>Beneficio 2</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam tenetur adipisci commodi, inventore vero eaque.</p>
            </div>
            <div class="paypal">
                <i class="fab fa-paypal ng-pay"></i>
                <h2>Beneficio 3</h2>
                <p id="parrafo-payp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam tenetur adipisci commodi, inventore vero eaque.</p>
            </div>
            <div class="bitcoin">
                <i class="fab fa-btc ng-pay"></i>
                <h2>Beneficio 4</h2>
                <p id="parrafo-btc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam tenetur adipisci commodi, inventore vero eaque.</p>
            </div>
        </div>
        <div class="cards contenedor tags-pagos" style="width: 100%;">
            <div class="enlaces">
                <h3>Enlaces Útiles</h3>
                <table class="tabla-enlaces">
                    <tr>
                        <td>
                            <i class="fas fa-link"></i> Enlace 1
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-link"></i> Enlace 2
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-link"></i> Enlace 3
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-link"></i> Enlace 4
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="fas fa-link"></i> Enlace 5
                        </td>
                    </tr>
                </table>
            </div>
            <div class="content-cards">
                <article class="card card-hotel">
                    <div>
                        <i class="far fa-handshake"></i> &nbsp;
                        <h3>Convenios</h3>
                    </div>
                    <p>
                        <a href="">> Empresa 1</a>
                    </p>
                    <p>
                        <a href="">> Empresa 2</a>
                    </p>
                    <p>
                        <a href="">> Empresa 3</a>
                    </p>
                    <p>
                        <a href="">> Empresa 4</a>
                    </p>
                </article>
                <article class="card card-hotel">
                    <div>
                        <i class="fas fa-tag"></i> &nbsp;
                        <h3>Tags</h3>
                    </div>
                    <p>
                        <span class="card card-hotel card-span">Money</span>
                        <span class="card card-hotel card-span">Bitcoin</span>
                        <span class="card card-hotel card-span">Inflation</span>
                    </p>
                    <p>
                        <span class="card card-hotel card-span">Tag3</span>
                        <span class="card card-hotel card-span">Tag4</span>
                        <span class="card card-hotel card-span">Tag5</span>
                        <span class="card card-hotel card-span">Tag6</span>
                    </p>
                    <p>
                        <span class="card card-hotel card-span">Tag7</span>
                        <span class="card card-hotel card-span">Tag8</span>
                        <span class="card card-hotel card-span">Tag9</span>
                        <span class="card card-hotel card-span">Tag10</span>
                    </p>
                    <p>
                        <span class="card card-hotel card-span">Tag11</span>
                    </p>
                </article>
            </div>
        </div>
    </section>
</body>