.ng-spnv {
    margin: 0 auto !important;
    width: 78%;
}

nav a {
    all: unset;
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    font-weight: bold;
    margin: 0.5%;
}

nav a:visited,
a:link {
    color: #334953;
}

nav a:hover {
    color: #eee;
    background-color: #b721ff;
    cursor: pointer;
}